html, body {
    margin: 0;
    padding: 0;
  }
  
  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  input:focus {
    outline: none;
  }
  
  ::placeholder {
     opacity: 1;
  }