/*

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/* Some Boilerplate Code That I usually use in projects*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input:focus {
    outline: none;
}

::placeholder {
     opacity: 1;
}

.hero {
  background: url('../Thriving\ Cities\ Designs/heroImageEnhanced.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  width: 100%;
  height: 200vh;
  border:0;
}
#logo {
    width: 25vw;
    height: auto;
    margin-left: 1rem;
}
.events {
    width: 100%;
    height: 200vh;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE Copatibility Fixes */
    .hero {
		height: 105.5vh; /* To Scale The SVG Properly in IE */
	}
}
@media all and (min-width: 700px) and (max-width: 800px) {
	.hero {
		height: 100vh; /* To Scale The SVG Properly on that screen size in IE */
	}
}
@media all and (min-width: 801px) and (max-width: 1024px) {
	.hero {
		height: 70vh; /* To Scale The SVG Properly on that screen size in IE */
	}
}
@media all and (min-width: 1920px) and (max-width: 1440px) {
		.hero {
		height: 100vh; /* To Scale The SVG Properly on that screen size in IE */
	}
}
