/*

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/*

Some Boilerplate Code That I usually use in projects To Prevent
Unexpected Behavior From Browsers' User Agent Style Sheet.

*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

*:focus {
  outline: none;
}

::placeholder {
  opacity: 1;
}

.hero {
  background: url('../Thriving\ Cities\ Designs/heroImageEnhanced.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  width: 100%;
  height: auto;
  border: 0;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#logo {
  width: 25vw;
  height: auto;
  margin-left: 1rem;
}

#logo:hover {
  cursor: pointer;
}

/* Navbar positioning and styling */

.navbar {
  padding-top: 1vh;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  letter-spacing: .18vw;
  padding-right: .6vw;
  transition: text-decoration 1s ease-in-out;
}

.navbar a {
  position: relative;
  cursor: pointer;
}

/* Navbar Strike-Through Animation styling*/

.navbar a:before, .navbar a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: .5vh;
  top: 50%;
  margin-top: -0.05vh;
  background: #000;
}

.navbar a:before {
  left: -.2vw;
}

.navbar a:after {
  right: .5vw;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar a:hover:before {
  background: #000;
  width: 95%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar a:hover:after {
  background: transparent;
  width: 95%;
  transition: 0s;
}

/*
  This Is The Styling For The Invitation Line On The Hero Division
*/

.invitation {
  margin-top: 31vh;
  margin-left: 8vw;
}
.invitationLine {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  color: #ffffff;
}
.subscribeButton {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  letter-spacing: .1vw;
  margin-top: 16vh;
  margin-left: 24vw;
  padding: 2.3vh 3vw;
  background: #000000;
  color: #ffffff;
  border: .13vw solid #ffffff;
  border-radius: 50vw;
  transition: background .8s ease-out, color .5s ease-out;
  margin-bottom: 18vw;
}
.subscribeButton:hover {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  border-color: rgba(0,0,0,0);
}
/* Events */

.eventsContainer {
  width: 100%;
  height: auto;
}
.eventsLine p{
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20vh;
}
.events {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 200vh;
}
.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 1vh 2vh 0 rgba(0, 0, 0, 0.2), 0 .8vh 4vh 0 rgba(0, 0, 0, 0.19);
  width: 90%;
}
.eventImage img{
  max-width:20vw;
  max-height:28vh;
  width: auto;
  height: auto;
}
.eventTextContainer {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  padding: .5vh 1vw;
}
.eventTitle {
  font-size: 2vw;
  font-weight: 100;
  padding-bottom: .3vh;
}
.eventDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1vh 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 1.3vw;
}
.description {
  padding-top: 3vh;
  font-size: 1.4vw;
}
.readMore {
  padding-top: 2vh;
  font-size: 1.1vw;
  color: #000;
  width: 10%;
  margin-right: auto;
  margin-left: auto;
}
.readMore:hover {
 cursor: pointer;
 text-decoration: underline;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE Copatibility Fixes */
  .hero {
    height: 105.5vh;
    /* To Scale The SVG Properly in IE */
  }
  .eventsLine p{
    margin-top: 6vh;
  }
}

@media all and (min-width: 700px) and (max-width: 800px) {
  .hero {
    height: 100vh;
    /* To Scale The SVG Properly on that screen size in IE */
  }
}

@media all and (min-width: 801px) and (max-width: 1024px) {
  .hero {
    height: 70vh;
    /* To Scale The SVG Properly on that screen size in IE */
  }
}

@media all and (min-width: 1920px) and (max-width: 1440px) {
  .hero {
    height: 100vh;
    /* To Scale The SVG Properly on that screen size in IE */
  }
}
